@import './base.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.text-center {
  text-align: center;
}
input {
  border: 0;
  padding: 10px 15px;
  outline: none;
}
form, ul {
  max-width: 500px;
  margin: 20px auto;
}
ul {
  list-style: none;
}
.input-group {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-radius: 15px;
  overflow: hidden;
}
.input-group input {
  flex: 1;
}
.input-group button {
  padding: 10px 15px;
  border: none;
  background-color: blue;
  color: white;
}

.todo-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #DEDEDE;
}